<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<style>
    .btn-primary {
        background-color: #703333;
    }
</style>

<div class="container">
    <h1>Get </h1>
    <span id="result"></span>
    <br>
    <button  id="buttonGet" class="btn btn-primary" >get result</button>
</div>
<div class="container">
    <h1>Post </h1>
    <span id="resultPost"></span>
    <br>
    <button  id="buttonPost" class="btn btn-primary" >Post result</button>
</div>
<div class="container">
    <h1>Post from DB</h1>
    <span id="resultDB"></span>
    <br>
    <button  id="buttonPostDB" class="btn btn-primary" >Post result DB</button>
</div>
<div class="container">

    <h1>Post from DB with input</h1>
    <span id="resultInput"></span>

    <div class="form-group">
        <label for="demoId">Enter id</label>
        <input type="number" name="" id="demoId" class="form-control" min="4" max="10" placeholder="" aria-describedby="helpId">

    </div>
    <br>
    <button  id="buttonPostInput" class="btn btn-primary" >Post result DB</button>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script>
    $(document).ready(function(){
        $("#buttonGet").click(function(){
            $.get("/jq_data", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
                $("#result").html(data);
            });
        });

        $("#buttonPost").click(function(){
            $.post("/jq_data",
                {
                    number: 3,
                    city: "Duckburg"
                },
                function(data,status){
                    alert("Data: " + data + "\nStatus: " + status);
                    $("#resultPost").html(data);
                });
        });

        $("#buttonPostDB").click(function(){
            $.post("/jq_data_db",
                {
                    number: 7,
                },
                function(data,status){
                    console.log(status)

                    console.log(data.id);
                    console.log(data.description);
                    $("#resultDB").html(data.description);
                });
        });

        $("#buttonPostInput").click(function(){
console.log($("#demoId").val());
            $.post("/jq_data_input",
                {
                    id: $("#demoId").val(),
                },
                function(data,status){
                    console.log(status)

                    console.log(data.id);
                    console.log(data.description);
                    $("#resultInput").html(data.description + "  Status : "+ status );
                });
        });

    });

</script>
</body>
</html>