<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello, world!</h1>
<br>
<br>
<br>
<h1>Hello, world Controller</h1>
<a href="/hello">firstMethod</a>
<br>
<br>
<br>

<h1>First day Controller</h1>
<a href="/">Index</a>
<a href="/app">App Index</a>

<br>
<br>
<br>

<h1>Two Number DTO Controller</h1>
<a href="/new/multiplicationDTO"> multiplicationDTO</a>
<br>
<br>
<br>
<h1>Demo Crud Operation</h1>
<a href="/demo"> >Demo Crud Operation</a>

</body>
</html>